openai
flask[async]
httpx
requests
networkx
python-dotenv
pyyaml
sentence_transformers
transformers
pydot

dash
dash-bootstrap-components
dash-cytoscape

rouge
huggingface-hub
sentencepiece
protobuf
nltk #??

# RAG
numpy
faiss-cpu